body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #040714;
    font-weight: 600;

}

a{
    text-decoration: none;
}


header {
    background-image: url("main.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 690px;
}

header nav {
    display: flex;
    justify-content: end;
}

header nav button {
    padding: 10px 20px;
    font-size: 14px;
    border: 0.3px solid white;
    border-radius: 4px;
    background-color: black;
    color: #EEEFEF;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 25px;
    font-weight: 400;
}

header nav button:hover {
    background-color: #10B5C5;
    transition: ease-in 0.5s;
}

header section {
    text-align: center;
    color: white;
    margin-top: 275px;
}

header section h1 {
    font-size: 33px;
    margin-bottom: 25px;
    margin-top: 20px;
}

header section h3 {
    font-size: 18px;
    margin-top: -8px;
    margin-bottom: 19px;
}

header section p {
    color: #99a7a7;
    font-size: 12px;
    margin-bottom: 10px;
}

header section .form-container input[type="email"] {
    padding: 11px;
    font-size: 14px;
    border: 1px solid #32343E;
    border-radius: 2px;
    width: 350px;
    outline: none;
    background-color: #32343E;
    color: white;
    margin-top: 10px;
    margin-bottom: 25px;
}

header section .form-container button {
    padding: 12px 31px;
    font-size: 14px;
    color: black;
    background-color: #00bcd4;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: -7px;
    margin-bottom: 10px;
}

header section .form-container button:hover {
    background-color: black;
    transition: ease 0.7s;
    color: white;
}

header section h4 {
    color: #99a7a7;
    font-size: 14px;
    margin-bottom: 19px;
}

header section h5 {
    color: #99a7a7;
    font-size: 9px;
}


main{
    margin-top: -5%;
}

main .presentation{
 background-image: url("main1.png");
 background-size: cover;
 height: 900px;
 color: white;
}

main .presentation .conteneur {
    padding-top: 200px;
    padding-left: 90px;
}

main .presentation h1{
   font-size: 180%;
}

main .presentation h4{
    color: #8b9191;
    font-size: 12px;
}


main .presentation p{
    color:#8b9191 ;
    font-size: 10px;
}






main .forfait .container {
    font-family: Arial, sans-serif;
    background-color: #040714;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .forfait .container h1 .format_text {
    margin-bottom: 3%;
    text-transform: uppercase;
}

main .forfait .container table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: white;
}

main .forfait .container th, 
main .forfait .container td {
    border-bottom: 1px solid #525252;
    padding: 15px;
    text-align: center;
}

main .forfait .container thead th {
    border-bottom: 1px solid white;
}

main .forfait .container th:nth-child(3) button {
    background-color: #146878;
    border: none;
    color: white;
    font-size: 16px;
    padding: 19px 25px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1.76px;
    text-transform: uppercase;
}

main .forfait .container th:nth-child(2) button {
    background-color: #146878;
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px 23px;
    border-radius: 5px;
    width: 100%;
    letter-spacing: 1.76px;
    text-transform: uppercase;
}

main .forfait .container th:nth-child(4) button {
    background-color: #05D6E8;
    border: none;
    color: black;
    font-size: 16px;
    padding: 19px 25px;
    border-radius: 5px;
    width: 100%;
    letter-spacing: 1.76px;
    text-transform: uppercase;
}

main .forfait .container th:nth-child(3) p, 
main .forfait .container th:nth-child(2) p {
    color: #A1A1A3;
    font-size: 15px;
}

main .forfait .container th:nth-child(4) p {
    font-size: 15px;
}

main .forfait .container .note {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 12px;
    color: #888;
    margin-left: -200px;
    margin-top: -25px;
}

main .forfait .container .note a {
    color: white;
}





.presentation2 {
    color: white;
    margin-top: 45px;
}

.presentation2 .img img {
    width: 1300px;
}

.presentation2 .titre {
    text-align: center;
}

.presentation2 .titre p {
    color: #888;
}

.presentation2 .titre h1 {
    font-size: 35px;
}

.presentation2 .conteneur {
    display: flex;
    justify-content: space-around;
}

.presentation2 .conteneur .sous-conteneur {
    text-align: center;
}

.presentation2 .conteneur .sous-conteneur h2 {
    font-size: 19px;
}

.presentation2 .conteneur .sous-conteneur p {
    color: #888;
    font-size: 13px;
}

.tablet-only {
    display: none;
}


.menu-deroulant {
    color: #fff;
    margin-top: 60px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-deroulant h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}

.question_1 {
    border-bottom: 1px solid #333;
    background-color: #13151D;
    margin-bottom: 10px;
    padding: px 0;
}

.question_2 {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 11px;
    margin-top: 6px;
}

.menu-deroulant .question_2 h2 {
    margin-left: 17px;
    margin-top: 18px;
}

.question_4 {
    font-size: 32px;
    color: #fff;
    transition: transform 0.3s;
    margin-top: 10px;
    margin-right: 20px;
}

.presentation3 {
    color: white;
    margin-top: 35px;
}

.presentation3 .titre h1 {
    text-align: center;
    font-size: 35px;
}

.presentation3 .conteneur {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.presentation3 .conteneur .sous-conteneur p {
    color: #888;
    font-size: 12px;
}


footer {
    margin-top: 75px;
    color: #888;
}

footer .ligne1 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 17px;
    font-size: 13px;
}

footer .ligne1 .rotate img {
    transform: rotate(270deg);
    padding-top: -155px;
}

footer .ligne1 .excp1 {
    color: #888;
}

footer img {
    filter: brightness(0) invert(1);
}

footer .ligne2 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 17px;
    font-size: 13px;
}

footer .ligne3 {
    text-align: center;
    margin-top: 25px;
    gap: 17px;
    font-size: 13px;
}
